<ul class="list-unstyled">
  <li class="dropdown pc-h-item header-user-profile" ngbDropdown>
    <a href="javascript:" class="pc-head-link dropdown-toggle arrow-none me-0" ngbDropdownToggle>
      <img src="assets/images/user/avatar-2.jpg" alt="user-image" class="user-avatar me-2" />
      <span class="f-w-600">Administrator</span>
    </a>
    <div class="dropdown-menu dropdown-user-profile dropdown-menu-end pc-h-dropdown" ngbDropdownMenu>
      <div class="dropdown-header">
        <div class="d-flex mb-1">
          <div class="flex-shrink-0">
            <img src="assets/images/user/avatar-2.jpg" alt="user-image" class="user-avatar wid-35" />
          </div>
          <div class="flex-grow-1 ms-3 text-start">
            <h6 class="mb-0">Administrator</h6>
          </div>
        </div>
      </div>
      <ul ngbNav #nav="ngbNav" class="nav drp-tabs nav-fill nav-tabs">
        <li ngbNavItem="1">
          <div>
            <a href="login" class="dropdown-item">
              <i class="text-muted" antIcon theme="outline" type="user"></i>
              <span>Logout</span>
            </a>
          </div>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav"></div>
    </div>
  </li>
</ul>