<div class="row">
  <div class="col-md-12 col-xl-12">
    <h5 class="mb-3">Customers</h5>
    <div class="mt-4">
      <button type="button" class="btn btn-primary">Add New</button>
    </div>
    <hr>
    <div class="card tbl-card">
      <div class="table-responsive">
        <table class="table table-hover mb-0">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            @for (product of products; track product) {
              <tr>
                <td>
                  <a href="javascript:" class="text-muted">{{ product.name }}</a>
                </td>
                <td>{{ product.description }}</td>
                <td>
                  <span class="d-block">
                    {{ product.price }}
                  </span>
                </td>
                <button class="btn btn-primary" data-action="edit">
                  Edit
                </button>
                <button class="btn btn-primary" data-action="delete">
                  Delete
                </button>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
